{#- item_list.tmpl - PaperMod generic item list -#}
<div class="post-content">
  {% if items %}
  <ul>
    {% for item in items %}
    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No items found.</p>
  {% endif %}
</div>
