<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site_title }}{% if title and title|length > 0 %}: {{ title }}{% endif %}</title>
</head>
<body>
{{ content }}
</body>
</html>
