{#-
  listings-css.tmpl - Syntax highlighting CSS template

  Generates CSS for code syntax highlighting using Tartrazine.

  Variables:
  - css: Generated CSS from Tartrazine formatter

  Used by: Listings feature for output/css/listings.css
-#}
{{ css|safe }}
