
<!DOCTYPE html>
<html lang="{{ lang }}" class="dark light">

    <head>
        <meta charset="utf-8">
        <title>{% if page %}{{ page.title }}{% elif section %}{{ section.title }}{% else %}{{ config.title }}{% endif %}</title>
    </head>

    <body>
        <div class="left-content">
            {% block left_content %}
            {% endblock left_content %}
        </div>

        <div class="content">

            {# Post page is the default #}
            {% block main_content %}
                Nothing here?!
            {% endblock main_content %}
        </div>

        <div class="right-content">
            {% block right_content %}
            {% endblock right_content %}
        </div>
    </body>

</html>
