{#- listing.tmpl - Blox theme code listing page
    Variables: title, code, raw_content -#}
<header class="page-header">
  <h1>{{ title }}</h1>
</header>
<div class="listing-code article-content">
  {{ code|safe }}
</div>
