{#- listing.tmpl - Coder theme code listing page
    Variables: title, code, raw_content -#}
<section class="container">
  <header>
    <h1 class="title">{{ title }}</h1>
  </header>
  <article>
    {{ code|safe }}
  </article>
</section>
