{#- gallery.tmpl - LoveIt theme gallery page
    Variables: breadcrumbs, title, link, html, image_list -#}
{% include "templates/title.tmpl" %}

<div class="single-content md-content">
  {{ html|safe }}
  <div class="gallery">
    {% for image in image_list %}
    {% if image.is_video %}
    <video class="gallery-item gallery-video" controls preload="metadata" src="{{ image.name }}"></video>
    {% else %}
    <a class="gallery-item" href="{{ image.name }}">
      <img src="{{ image.name | thumb_url }}" alt="{{ image.name }}" loading="lazy" />
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
