body {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
}
div.lightbox {
  width: 100%;
  text-align: center;
}
html * {
  font-family: Quicksand, sans-serif;
}

header.container, main.container {
  padding: 0;
}

figure {
  text-align: center;
}

code, code>* {
  font-family: monospace !important;
}
