{#- listing.tmpl - Terminal theme code listing page
    Variables: title, code, raw_content -#}
<section class="listing">
  <h1 class="post-title">{{ title }}</h1>
  <div class="listing-code post-content">
    {{ code|safe }}
  </div>
</section>
