{% include "templates/title.tmpl" %}

{{html}}
{# Basically: every 5 images, wrap them in a grid div #}
<div class="gallery lightbox">
{% for image in image_list %}
    <div>
        <a href="{{image}}" data-gall="myGallery"><img src="{{image | thumb_url}}"></a>
    </div>
{% endfor %}
</div>
