<!DOCTYPE html>

<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if noindex %}
  <meta name="robots" content="noindex" />{% endif %}
  <title>{{ site_title }}: {{ title }}</title>
  <meta name="description" content="{{ site_description }}" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="canonical" href="{{ canonical_url }}" />
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS Feed" />
  {% if extra_feed %}
  <link rel="alternate" type="application/rss+xml" href="{{ extra_feed.link }}" title="{{ extra_feed.title }}" />
  {% endif %}
  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet">
  <!-- Pico CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" />
  <!-- Lightbox -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/venobox@2.0.4/dist/venobox.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/venobox@2.0.4/dist/venobox.min.js"></script>
  {% if not no_highlightjs %}
  <!-- highlightks -->
  <link id="hljscss" rel="stylesheet"
    href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/base16/{{site_dark_scheme}}.min.css" />
  {% endif %}
  <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
  <script src="https://cdn.jsdelivr.net/npm/minisearch@6.1.0/dist/umd/index.min.js"></script>
  {% if not no_highlightjs %}
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
  {% endif %}
  <!-- Custom style-->
  <link rel="stylesheet" href="/css/custom.css" />
  {% if listings_css %}
  <link rel="stylesheet" href="/css/listings.css" />
  {% endif %}
</head>

<body>
  <!-- Header -->
  <header class="container">
    <nav>
      <ul>
        <li>
          <h1><a href="{{site_url}}">{{ site_title }}</a></h1>
          <p>» {{ site_description }}</p>
        </li>
      </ul>
      <ul>
        <li>
          <input type="search" id="search" style="width: 2em" _="
              init
                set :documents to []
                make a MiniSearch from {
                  fields: ['title', 'text'],
                  searchOptions: {
                    boost: { title: 2 },
                    fuzzy: 0.2
                  }} called :miniSearch
              on focus
                if no :documents
                  fetch /search.json as json put the result into :documents
                  call :miniSearch.addAll(:documents)
                end
                transition my *width to 15em
              on blur
                transition my *width to 2em
                hide #search_results
              on input
                set :results to []
                call :miniSearch.search(my value) put the result into :results
                show #search_results
                set #search_results.innerHTML to '<ul>'
                repeat for r in :results
                  repeat for d in :documents
                    if d.id is r.id then append `<li><a href='${d.url}'>${d.title}</a><br>` to #search_results.innerHTML
                  end
                end
            " />
        </li>
        <li>
          <input type="checkbox" id="switch_theme" name="switch" role="switch" value="1" _="
              def setTheme()
                get the closest <html/>
                if cookies['isLight'] is 'true'
                  set its @data-theme to 'light'
                  {% if not no_highlightjs %}
                  set #hljscss.href to 'https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/base16/{{site_light_scheme}}.min.css'
                  {% endif %}
                  set cookies['isLight'] to true
                  set my @checked to false
                else
                  set its @data-theme to 'dark'
                  {% if not no_highlightjs %}
                  set #hljscss.href to 'https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/base16/{{site_dark_scheme}}.min.css'
                  {% endif %}
                  set cookies['isLight'] to false
                  set my @checked to true
              end
              init setTheme() end
              on change
                set cookies['isLight'] to (cookies['isLight'] is not 'true')
                setTheme()
            " />
        </li>
        {% for item in site_nav_items %}
        <li>{{item}}</li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div id="search_results"></div>
  <!-- /Header -->

  <!-- Main -->
  <main class="container">
    {% if breadcrumbs and breadcrumbs | length > 1 %}
    <h2>
      <nav aria-label="breadcrumb" class="breadcrumb">
        {% for item in breadcrumbs %}
          {% if not loop.first %} » {% endif %}
          {% if not loop.last %}
            <a href="{{ item.link }}">{{ item.name }}</a>
          {% else %}
            {{ item.name }}
          {% endif %}
        {% endfor %}
      </nav>
    </h2>
    {% endif %}
    {{ content }}
  </main>
  <!-- /Main -->

  <!-- Footer -->
  <footer class="container">
    <small>{{ site_footer }}</small> 👈 👉
    <small>Built with <a href="https://picocss.com">Pico</a></small>
  </footer>
  <!-- /Footer -->

  <!-- Theme switcher -->
  <!-- <script src="/js/theme-switcher.js"></script> -->
  <script>
    new VenoBox({
      selector: "div.lightbox div a, div.lightbox p a, figure.lightbox a",
      spinner: "fold",
      numeration: true,
      share: true,
      maxWidth: "80%",
    });
    {% if not no_highlightjs %}
    hljs.highlightAll();
    {% endif %}
  </script>
</body>

</html>
