{% include "templates/title.tmpl" %}
{% if date %}
date: {{date}}
{% endif %}
</br>
{% if toc | length > 0 %}
<details closed>
    <summary class="contents-heading secondary" role="link">Contents</summary>
    {{toc}}
</details>
{% endif %}
{{html}}
