{% include "templates/title.tmpl" %}

{% if date %}
<div class="post-meta">
  <span class="post-date">Posted: {{date}}</span>
  {% if metadata.updated and metadata.updated != date %}
    <span class="post-updated">(Updated: {{metadata.updated}})</span>
  {% endif %}
  {% if taxonomies | length > 0 %}
    {% for taxonomy, terms in taxonomies %}
      {% if terms | length > 0 %}
        <span class="post-taxonomies">
          <a href="{{ taxonomy.link }}">{{ taxonomy.name }}</a>:
          {% for term in terms %}
            {{term | link}}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
{% endif %}

{% if toc | length > 0 %}
<details closed class="table-of-contents">
  <summary class="contents-heading secondary" role="link">Contents</summary>
  {{toc}}
</details>
{% endif %}

{{html}}
