{#- Card shortcode - create a card component
  Usage: card or card class="my-class" id="my-id"

  Supported arguments:
  - class (optional) - Additional CSS classes to add to card
  - id (optional) - CSS ID for the card
-#}
{#- Pico's card component is <article class="card"> -#}
{% if args.class and args.class != "card" %}<article class="card {{args.class}}"{% if args.id %} id="{{args.id}}"{% endif %}>{% else %}<article class="card"{% if args.id %} id="{{args.id}}"{% endif %}>{% endif %}
{{inner}}
</article>
