require "ecr"

module Templates

  class Tpl
    def initialize(@context : Hash(String, String))
    end
  end

    <%- @templates.each do |t| -%>
    class Tpl<%= t.titleize.split(".ecr")[0] %> < Tpl
        def initialize(@context : Hash(String,String))
        end

        ECR.def_to_s "templates/<%= t %>.ecr"
    end
    <%- end -%>

    Template = {
    <%- @templates.each do |t| -%>
    "templates/<%= t %>.ecr" => Tpl<%= t.titleize %>,
    <%- end -%>
    }
end
